.gallery-detail-fanart-container {
  position: relative;

  .description-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 200px;
    z-index: 2;

    .action-area{
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      width: 80%;
      align-items: center;

      Button{
        width: 180px;
        margin-bottom: 10px ;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 550;
      }
    }

    .description-area{
      .title{
        text-align: left;
        font-weight: 500;
        font-size: 30px;
        color: white;
      }
    }
  }

  .description-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    opacity: 0.2;
    height: 100%;
    filter: blur(10px);
    z-index: 1;
    background-size: cover;
  }
}
