.gallery-detail-fanart-container {
  position: relative;

  .ant-image {
    width: 100%;
  }

  .description-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 200px;
    z-index: 10;

    .ant-row {
      position: absolute;
      z-index: 12;
    }

    .action-area {

      padding-top: 20px;
      display: flex;
      flex-direction: column;
      width: 80%;
      align-items: center;

      Button {
        width: 230px;
        height: 40px;
        margin-bottom: 15px;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 550;
      }
    }

    .description-area {
      color: white;

      .spec-container {
        display: flex;

        div {
          margin-right: 10px;
          color: #a6afb1;
          font-weight: 550;
        }
      }

      .title {
        text-align: left;
        font-weight: 500;
        font-size: 30px;
      }

      .plot {
        text-align: left;
      }
    }
  }

  .description-container:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #7d8378;
    opacity: 0.7;
    height: 100%;
    filter: blur(10px);
    z-index: 1;
    background-size: cover;
  }
}
